:root{
  --app-height: 84px;
  --app-width: 70px;
  --app-photo-height: 60px;
  --app-name-height: 24px;
  --grid-row-gap:8px;
  --grid-col-gap:19px;
}

@appHeight: 84px;
@appWidth: 70px;
@appPhotoHeight: 60px;
@appNameHeight: 24px;
@gridRowGap: 8px;
@gridColGap: 19px;

:export {
  appHeight: 84;
  appWidth: 70;
  appPhotoHeight: 60;
  appNameHeight: 24;
  gridRowGap: 8;
}
